@charset "UTF-8";

* {
    margin: 0px ;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: seagreen;
}

.wrapper {
    width: 750px;
    background: purple;
    border-radius: 10px;
    color: white;
}

.wrapper h1 {
    font-size: 36px; 
    text-align: center;
    margin-bottom: 20px;
}